<strong>Olá, {{ organizer }}</strong>
<p>Um novo usuário se inscreveu no seu MeetUp</p>
<p>
  <strong>Usuário: </strong> {{ user }}<br />
  <strong>Meetup: </strong> {{ meetup }}<br />
  <br />
  <small>
    Divulgue seu evento para mais inscrições. Boa Sorte!!!
  </small>
</p>
